[submodule ".registry"]
	path = .registry
	url = https://github.com/fdzul/fdzul.r-universe.dev
	branch = HEAD
[submodule "boldenr"]
	path = boldenr
	url = https://github.com/fdzul/boldenr
[submodule "dendata"]
	path = dendata
	url = https://github.com/fdzul/dendata
[submodule "deneggs"]
	path = deneggs
	url = https://github.com/fdzul/deneggs
[submodule "denhotspots"]
	path = denhotspots
	url = https://github.com/fdzul/denhotspots
[submodule "densnv"]
	path = densnv
	url = https://fdzul.github.io/densnv
[submodule "popmex"]
	path = popmex
	url = https://fdzul.github.io/popmex
[submodule "rgeomex"]
	path = rgeomex
	url = https://github.com/fdzul/rgeomex
[submodule "similiars"]
	path = similiars
	url = https://github.com/davidsjoberg/similiars
	registered = false
