[submodule ".registry"]
	path = .registry
	url = https://github.com/fdzul/fdzul.r-universe.dev
	branch = HEAD
[submodule "deneggs"]
	path = deneggs
	url = https://github.com/fdzul/deneggs
[submodule "denhotspots"]
	path = denhotspots
	url = https://github.com/fdzul/denhotspots
[submodule "densnv"]
	path = densnv
	url = https://github.com/fdzul/densnv
[submodule "popmex"]
	path = popmex
	url = https://github.com/fdzul/popmex
[submodule "rgeomex"]
	path = rgeomex
	url = https://github.com/fdzul/rgeomex
